.mainContainer {
  /* max-width: 1440px; */
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainContent {
  height: 300vh;
}

/* .content {
} */

.sidebar {
  border-left: 1px solid rgb(80, 80, 80);
}

/* media query mobile and tablet */
@media screen and (max-width: 1024px) {
  .mainContent {
    width: calc(100% - 98px);
    position: sticky;
  }

  .sidebar {
    display: none;
  }
}

/* media query desktop */
@media screen and (min-width: 1025px) {
  /* .mainContainer {
    /* padding-left: 5px;
    padding-right: 5px; */

  .mainContent {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    width: 400px;
  }
}
